[2015-03-27 15:17] alexb-uk opened #6 "ERROR: incompatible character encodings: UTF-8 and ASCII-8BIT"
Hi,

I was going to give your cookbook a try as it looked like just the thing I need however I'm struggling to get past the first step.

Chef server web ui displays the message "ERROR: incompatible character encodings: UTF-8 and ASCII-8BIT" when I attempt to view 0.6.1 or 0.6.0.

I don't know if its related but my recipe then fails to compile on chef-client run:

[code]

I've tried various combina

[2015-03-27 15:45] BackSlasher commented on #6
I see we have some incompatible encoding. Serves me right for accepting PRs :)
Do you use Chef 12 by any chance? It's [supposed to be fixed there](https://github.com/opscode-cookbooks/chef-client/issues/213)
I'll fix it anyway

[2015-03-27 15:50] BackSlasher commented on #6
Well [Jörg Herzinger](https://github.com/joerg) is to blame since he has `ö`. I'll try rencoding everything in UTF8

[2015-03-27 16:56] jfrome opened #7 "No resource or method named `shell_out!' for `Chef::Provider::SelinuxPolicyFcontext """
I am receiving the following error when attempting to use this cookbook:

[code]

This is what the compiled resource looks like in the debug log:
[code]

Here is the snippet where it is called in the recipe:
[code]

More details:

1. OS: Centos6.6
2. Chef client: 11.18.6
3. selinux is enforcing and targeted.
4. semanage setsebool and getsebool all work when called from the shell

Any ideas?

[2015-03-27 17:26] BackSlasher commented on #7
Please try something like:
[code]
in `libraries/helper-disabled.rb` and see if this helps.
This is the only place I use shellout and it works in Chef 12 - might be a Chef 11 issue.
If this helps I'll put it in master.

[2015-03-30 08:42] alexb-uk commented on #6
Thanks for the quick response.

We're actually using a mixture of versions at the moment, chef-server 11.1.5 but I was testing using the latest Chef client, v12.1.2.

Cheers

Alex

[2015-03-31 05:37] BackSlasher commented on #6
I think the Chef Server fudges it up.
Please try adding `# encoding: utf-8` to the files `./README.md` and
`./libraries/helper-restorecon.rb`
If that fails, try adding the header to everything else.
LMK if this helps. I just don't have a Chef 11 environment to work with.

*Nitzan Raz*
http://backslasher.net

On Mon, Mar 30, 2015 at 11:42 AM, alexb-uk <notifications@github.com> wrote:

[2015-04-01 11:46] alexb-uk commented on #6
Tried adding the encoding to those two files but no joy unfortunately.

We do have a plan to upgrade the Chef server to v12 so I'll probably concentrate on doing that instead.

Cheers

Alex

[2015-04-01 11:46] #6 closed

[2015-04-03 18:57] Sauraus commented on #7
Upgrade to Chef client 12.x and the problem goes away. :)

[2015-04-05 06:05] BackSlasher commented on #7
I want to support Chef 11 (AWS Opsworks uses that version IMO) if possible and easy.

@jfrome please check and LMK when convinient

[2015-04-07 22:55] jfrome commented on #7
PR #9 fixes the issue for me.

[2015-04-12 09:08] BackSlasher commented on #7
Should be solved. Please reopen/lmk in some other way if not

[2015-04-12 09:08] #7 closed

[2015-04-12 09:09] BackSlasher commented on #6
Should be solved anyway. Decided to demote `Jörg` to `Joerg`

[2015-04-12 14:54] alexb-uk commented on #6
Great stuff thanks.

Will give this another try in my next bit of down time.

[2015-04-16 14:18] alexb-uk commented on #6
Just wanted to let you know that your change did indeed fix both issues.

No longer seeing an error on the Chef Server web UI and the resource is firing as expected during chef-client runs.

Thanks again.

Alex

[2015-04-16 14:21] BackSlasher commented on #6
NP. May you upgrade soon :)

[2015-04-22 18:49] Sauraus opened #11 "selinux allows multiple ports to associated with a type"
Current regex cannot handle the case where multiple ports are defined for a single type.

[2015-04-22 18:53] Sauraus opened #13 "Fix typos in raise exception for install recipe"

[2015-04-22 18:59] Sauraus opened #15 "Refactor cookbook to use files, instead of 'content' blocks for semodule building"
@BackSlasher this one is going to be a more significant change to how the module provider works. Right now it can only handle a single .te file, which is not enough in the case where you need to build a fully fledged semodule, including interfaces and file types.

For this I propose to re-factor the provider to support the usage of cookbook files that contain the actual .te/.fc/.if content, furthe

[2015-04-22 19:56] Sauraus opened #16 "Add Enterprise/CentOS 7.x support"

[2015-04-23 13:11] BackSlasher commented on #16
merged

[2015-04-23 13:11] #16 closed

[2015-04-23 13:11] BackSlasher commented on #13
merged

[2015-04-23 13:11] #13 closed

[2015-04-23 13:12] #11 closed

[2015-04-24 15:04] Sauraus opened #19 "Ubuntu no longer officially supports selinux since Karmic"
Docs: https://wiki.ubuntu.com/SELinux, probably need to remove the generic 'debian' install of selinux from the recipe

[2015-04-26 07:04] BackSlasher commented on #15
1. Sounds legit. I only used the `module` resource to support my own modules, which were ridiculously simple. I have no issue with you extending the resource to support more use-cases. Could you describe the way the resource should look (A snippet describing how you'd use it)?
2.  This will be a challenge. I still want to support very simple modules, contained entirely in the recipe (maybe keep a

[2015-04-26 07:08] BackSlasher commented on #19
Do you use Ubuntu?
My cookbook only provides ways to manage SELinux (and optionally install management tools) - it doesn't purport to install a valid SELinux package, so I think it's fine.

[2015-04-26 15:35] BackSlasher commented on #19
I think I just understood what you meant - you mean we should modify the installation recipe to raise an exception on Ubuntu.
I guess I agree. Thinking whether I should fail or just raise a warning

[2015-05-01 15:34] zachsmorgan commented on #15
It seems like it would be less intrusive to add a "file" attribute, in addition to the content/name/force attributes that the module resource already exposes.

[2015-05-01 17:14] BackSlasher commented on #15
I think so too ([that's how they do it in puppet](https://docs.puppetlabs.com/references/latest/type.html#file-attributes) btw, I prefer that), but I wonder if it's un-Chef-like

[2015-05-01 20:01] zachsmorgan commented on #15
My gut instinct is that separate providers would more closely match the stuff from Opscode, with cookbook_file vs. file being the closest example. I hacked a helper to do what I needed right this second, but am looking forward to seeing the proposed changes :)

[2015-05-05 14:44] thiagonache commented on #7
Hi there,

I'm using aws opsworks with chef 11.10 and I'm facing this problem.

[2015-05-05 14:51] BackSlasher commented on #7
Should be solved in version `0.6.2` of cookbook and above. If you have that version (or higher) and still experience it, please attach the error message

[2015-05-05 15:08] thiagonache commented on #7
it was out of date.
thank you

[2015-05-06 08:47] BackSlasher commented on #19
Solved in `v0.6.5` by adding `raise`. Should anyone that actually uses Ubuntu (and my cookbook) have a different opinion (e.g. installing the packages is a good idea) we'll modify that

[2015-05-06 08:47] #19 closed

[2015-05-14 13:45] chewi opened #22 "Helpers should be in a cookbook-specific module"
I think it is bad practise to define methods directly in `Chef::Provider`. You should define them in a module specific to this cookbook and then include them in the providers. It would also allow community cookbook writers to put this in their recipes.

[code]

They wouldn't want to include the install recipe unconditionally. If they don't include it at all, the resources will break when SELinux i

[2015-05-14 15:24] chewi opened #23 "Run restorecon unconditionally"
I'm still getting to grips with SELinux but I'm having an issue where systemd is creating a UNIX socket with the wrong context. Possibly a systemd bug but I'm not sure. In any case, files can come and go and it is a little annoying that once an fcontext is added, restorecon is never run again unless you use the modify action. This is counter-intuitive and hard to script around. I think it should b

[2015-05-15 13:21] BackSlasher commented on #23
I'm not 100% sure how SELinux works (yet :), but according to [this](http://serverfault.com/q/531431), creating a file (using `touch`) doesn't apply selinux fcontext rules but rather causes them to inherit from the parent (unless a transition is applied, which I don't know what it is).
Anyway, I considered this and I feel this is outside the cookbook's scope - the issue is not SELInux itself, but

[2015-05-15 13:39] chewi commented on #23
Yes, generally speaking a new file inherits from the parent. Unfortunately setting the context on the parent didn't work in this case. systemd seems to have some special handling around SELinux and sockets but I couldn't get it to do what I wanted and I'm not even sure that it can.

Adding an execute block is exactly what I did in the end. I could have limited it to the socket but after tripping u

[2015-05-15 13:53] BackSlasher commented on #22
The first part I agree with - I merged this when I wasn't that familiar with Ruby, and I will seperate to a different module.
I don't think I should leave the mixins to the cookbook users - I'll play around with using `extend` at the instance level, like this:
[code]

[2015-05-15 13:55] BackSlasher commented on #23
OK, thanks for bringing that up.
If if you / anyone elase reading this comes up with the same problem and thinks it requires more attention, please reopen / comment

[2015-05-15 13:55] #23 closed

[2015-05-15 13:59] BackSlasher commented on #15
Just writing in case it wasn't clear - I'm waiting to see some code - either the resource definition or a usage example

[2015-05-15 14:07] chewi commented on #22
That doesn't help the situation with the install recipe though. Calling `include` in your recipe isn't an unusual thing to do but I did get it slightly wrong above.

[code]

Not quite as nice but you can see this technique [referenced here](http://dougireton.com/blog/2012/12/16/how-to-include-the-windows-cookbook-helper-methods-in-your-chef-recipe/). Using `extend` instead does work though as [exp

[2015-05-15 15:21] BackSlasher commented on #22
I thought you were talking about how I'm using it in my own recipe. I now think you're referring to how you're utilizing it in your own recipes.
Are you suggesting creating a recipe that does the `mixin`, so consumers can easily mixin for their own use, and avoid the mixin automatically (in case it breaks something elsewhere)?

[2015-05-15 15:36] chewi commented on #22
I was referring to how you are using it in your providers but *also* how it could be used in recipes for other cookbooks. I'll submit a pull request later to ensure we're on the same page.

[2015-05-15 15:40] BackSlasher commented on #22
Great :)
I'm onboard for making the cookbook cleaner. Not sure about the mixin
recipe though.
On May 15, 2015 6:36 PM, "James Le Cuirot" <notifications@github.com> wrote:

[2015-05-17 12:35] #22 closed

[2015-05-26 21:32] Sauraus commented on #15
Sorry for the delay, here is the pull request: https://github.com/BackSlasher/chef-selinuxpolicy/pull/26

[2015-07-16 23:32] datallah opened #30 "selinux_policy_port doesn't correctly detect if existing mappings exist"
When a secontext has multiple ports, the not_if/only_if commands don't recognize it correctly:
[code]
It'll also mistakenly do partial matches:
[code]

[2015-07-16 23:54] datallah commented on #30
I guess this is what pull #12 is referring to as well, except that the patch there doesn't look like it's complete.

[2015-07-17 07:35] BackSlasher commented on #30
OK, after thinking about it for a while, I want to leave the entire regex detection idea behind. However you tweak it, you can't use it to detect ranges (e.g. that 81 is in `80-82`).
See commit c0d67cea453375a2882c5da70eafb1434568c6af. It is no way tested as I have other stuff to attend to :(, but if any of you skilled guys want to make things better, that's the direction I'd love to see.
The basi

[2015-07-20 18:42] datallah commented on #30
I haven't actually tested c0d67ce, but I see a couple issues:
 * I don't think it's actually filtering by port anywhere
 * it doesn't handle the "if" block within the addormodify action - that's still with a grep

It seems like it'd be better to make this work using [load-current-resource] (https://docs.chef.io/lwrp_custom_provider.html#load-current-resource) and to look up the entire selinux stat

[2015-07-21 15:43] BackSlasher commented on #30
Yeah it's very preliminary. I'm still toying around with that.
How will `load-current-resource` help with loading the entire state? Are you suggesting some sort of singleton cache dictionary thingy?

[2015-07-22 17:34] datallah commented on #30
load-current-resource won't necessarily help with the caching state, but it's a more chef native approach to implementing resources.

Yes, I was thinking there'd be some sort of singleton cache (and it likely should get invalidated/updated if any of the resources actually make changes).

[2015-07-23 13:19] BackSlasher commented on #30
`load-current-resource` sure makes it prettier, but more complicated as well. I see no urgent need to implement it, but PRs are welcome :)
About the singleton cache - this is a bad idea IMO because the SELinux policy can be modified by other things than this cookbook, like custom scripts, packages being installed, etc. I can barely rely on the system being stable when the resource's action is bein

[2015-08-08 19:28] bdclark commented on #30
Here's a possible pattern using python and `seobject`, but instead of using python-based guards it uses a helper and shell_out: https://github.com/bdclark/chef-selinuxpolicy/commit/bfc3fd42e540bb9b1ac44cd5d144e272e946ac0d.

Seems to match ports, protocol, etc. correctly but honestly it's only lightly tested at this point (against the existing TK suite). Just wanted to throw it out there as an idea

[2015-09-15 10:58] csghuser opened #34 "semanage login - new mapping"
Hi there,

Is it possible to create a new login mapping, similar to running the following command?

[code]

I had a quick search through the cookbook and couldn't find a way of doing this. Apologies if its there and this is something I've missed.

Thanks!

[2015-09-15 11:44] BackSlasher commented on #34
Hi!
You're right, there is no such resource in this cookbook, **yet**.
I'll be happy to see a pull request from you / someone else adding this feature!

[2015-09-15 14:05] BackSlasher commented on #30
I made a second attempt [here](/backslasher/chef-selinuxpolicy/tree/python-ports2)
The earlier commit was complete rubbish - that's what you get when writing stuff on the bus.
Anyway, the kitchen tests went fine. Since I don't actually use the port functionality, can someone who does give his opinion please?

[2015-10-17 16:49] BackSlasher commented on #30
Should be resolved with 06862589c15b7ca8924131231db023cb33b1ab1d. At least my tests tell me so.
If it's still an issue, post here please

[2015-10-17 16:49] #30 closed

[2015-10-22 05:38] BackSlasher commented on #15
Should be solved in 0.9.0

[2015-10-22 05:38] #15 closed

[2015-11-05 13:01] BackSlasher commented on #34
@csghuser if you want to implement your feature but missing guidance LMK and I'll be happy to help.

[2016-02-12 17:15] equick opened #38 "copy an selinux context"
Hi @BackSlasher,

Is the following command to copy an selinux context something I could achieve with your cookbook?

```semanage fcontext -a -e /etc/httpd /myserverroot```

Thanks,
Ed

[2016-02-12 17:54] BackSlasher commented on #38
Hi, I believe not.
Even if there was resource support, can you do this idempotently?
You'd need to compare both labels at runtime... Seems weird.
What's the usecase? Different OSes?

[2016-02-12 18:00] equick commented on #38
No. I can be specific in the labelling so not an issue. My use case is for labelling instances of apache which have a different server root to the default OS (Red Hat 6 in my case). It just makes like easier to copy the Red Hat contexts on /etc/httpd and /var/run/httpd, rather than spelling them out.

[2016-02-14 09:14] BackSlasher commented on #38
Do you have a way to check it (to make it idempotent)?

[2016-02-15 22:47] equick commented on #38
Not really, I can't think of a smart way. Let me close this one off for now :)

[2016-02-15 22:47] #38 closed

[2016-03-03 15:37] chewi opened #39 "Dependency on yum is too strict"
Berkshelf has had to peg my version of selinux_poilcy back to 0.92 because depending on yum ~> 3.9.0 is too strict. Remember that yum is a very widely used cookbook. Please change this to ~> 3.9.

However, I question the need for the dependency anyway. I see that it's to run `yum::fedora_yum_compat` and that was added for Fedora but that has nothing specifically to do with this cookbook. If Chef d

[2016-03-03 15:57] BackSlasher commented on #39
Hi.
I'm fine with loosening up the version constraint in the metadata.
About losing it completely - if I understand correctly, you're saying the responsibility for a working yum command should be outside the scope of the cookbook, right?
I haven't actually read the metadata for the yum cookbook. Will do so now

[2016-03-03 15:59] chewi commented on #39
That's correct, yes.

[2016-03-03 16:01] BackSlasher commented on #39
I see the comment you mentioned in the README, but not the reasoning behind it.
Did you happen to check the Fedora 23 kitchen without the `fedora_yum_compat`?

[2016-03-03 16:09] chewi commented on #39
I expect it will break unless fedora_yum_compat is added to the start of the run list in .kitchen.yml. I will try it now. If you want so support Fedora under Kitchen while avoiding the yum dependency, you could add yum to the Berksfile instead.

[2016-03-03 16:47] chewi commented on #39
It did indeed break and adding `fedora_yum_compat` to .kitchen.yml fixes it. I have filed a pull request.

[2016-03-03 17:03] BackSlasher commented on #39
I have to think about this. I like the idea that this cookbook is "self sufficient" even on Fedora 23.
Maybe we'll modify the version constraint to `>=`. How would you feel about that?

[2016-03-03 17:18] chewi commented on #39
`~> 3.9` would be safer and just as effective. Most other cookbooks use a similar value if they bother to constrain it at all. Either way, that would at least solve my problem.

I don't really understand the logic though. Surely no one is going to use this cookbook on its own and unless it appears very early in the run list, they would have to add `fedora_yum_compat` to their own run list anyway t

[2016-03-03 17:24] BackSlasher commented on #39
Well, I don't like the idea of this cookbook depending on some "external
stuff" to work.
About needlessly requiring it, should someone care, they'll open a PR/issue
when it bothers them I hope
I'll do these stuff next week I guess (Fri/Sat are my days off).

*Nitzan Raz*
http://backslasher.net

On Thu, Mar 3, 2016 at 7:18 PM, James Le Cuirot <notifications@github.com>
wrote:

[2016-03-03 18:35] chewi commented on #39
Okay, thanks.

[2016-03-06 14:57] BackSlasher commented on #39
Fixed in `v0.9.5`. Please re-open if not solved

[2016-03-06 14:57] #39 closed

[2016-03-11 17:25] xenlo opened #41 "Sorry wrong place!"

[2016-03-11 17:33] #41 closed

[2016-03-11 18:30] BackSlasher commented on #41
Sure. Next time you can avoid editing the description, title etc. No need for that

[2016-03-21 10:08] xenlo commented on #41
Damn I'm an idiot it was the right place… I mismatched skottler/selinux and BackSlasher/chef-selinuxpolicy!
I will not re edit everything so I create a new issue.

[2016-03-21 10:08] xenlo opened #42 "directory_source of selinux_policy_module does seem to work…"
Hi,

In one of my cookbook I call the `selinux_policy_module` to install a module already in `.pp` format.
[code]

Unfortunately i get errors:
- Error executing action `run` on resource 'execute[semodule-install-postfixvas]'
- Error executing action `install` on resource 'selinux_policy_module[postfixvas]'
as the run of ` /usr/sbin/semodule -i /root/.chef/postfixvas/postfixvas.pp` command fails. A

[2016-03-21 10:15] BackSlasher commented on #42
Hi. I don't think I support this kind of use case - installing a compiled module.
You can revert to the source files and use this resource, add the required functionality (we can think about what goes where together), or avoid using this resource and opt for an `execute` resource for installing your `pe` file.
LMK what you think

[2016-03-21 10:21] BackSlasher commented on #42
Aha.
Use `directory` and populate that directory using `cookbook_file`
If you think the documentation could explain it better, please LMK

[2016-03-21 11:17] xenlo commented on #42
Yes! using `directory` populated up front with a `remote_directory` is working.
[code]
Do you estimate it as an right way of working? If yes, I propose that a small note could be added in the doc to the directory attribute, and maybe add an extra example usage.

Anyway, I try to improve a bit my recipes by using `.te` files in place of `.pp`. Even I don't plan to edit those, it is still better to

[2016-03-21 11:22] xenlo commented on #42
Voila, pull request on README.md done as draft for de doc change

[2016-03-21 12:15] BackSlasher commented on #42
I personally dislike putting "compiled" stuff in my cookbook.
I support either:

* keeping the source in the cookbook and compiling it on the machine
* keeping the compiled result in an artifact store of some kind and pulling it from there

The first works with `directory_source`, the second with `directory` and *something* that puts files in that directory.

This is of course only my thought abou

[2016-03-21 12:15] #42 closed

[2016-03-21 12:16] BackSlasher commented on #42
+1 for your comment about keeping the `.te`. It's just a better idea to keep the source, in case you DO want to modify something, rather than having "this is the binary can't regnerate it"

[2016-04-20 13:20] freimer opened #44 "selinux_policy_port Error"
I get the following when trying to define a port.
[code]

[2016-04-20 13:34] freimer commented on #44
If it helps, heres the output of the not_if:
[code]

looks like the not_if, which the output days is:
[code]

would not match either reserved_port_t or unreserved_port_t.  Not sure if that has any relevance.

[2016-04-20 13:38] BackSlasher commented on #44
Hi.
I'm assuming this is on an existing server.
Could you try and recreate this on a fresh VM? I wonder why the `not_if`
detection logic didn't catch.
Also, what's the output of `seinfo` on any other port?
Also2, which OS?

*Nitzan Raz*
http://backslasher.net

On Wed, Apr 20, 2016 at 4:34 PM, Fred Reimer <notifications@github.com>
wrote:

[2016-04-20 17:33] freimer commented on #44
Thanks for the reply.  We figured it out.  We were using a t2.micro, and apparently were running out of memory.  It would help if there was a more helpful error message, but there is no issue with this cookbook.

[2016-04-20 17:33] #44 closed

[2016-04-20 17:34] BackSlasher commented on #44
All I have to work with is what semanage gives me...
Happy you have it solved though
On Apr 20, 2016 20:33, "Fred Reimer" <notifications@github.com> wrote:

[2016-06-01 20:37] equick opened #45 "In Chef 13 this will become an error: Option port must be a kind of [Integer]!"
Hi Nitz,

I've noticed the following message popping up lately with chef 12.10.24

[code]

I fixed the message by updating the port attribute in selinux_policy/resources/port.rb to a String:

[code]

Would you be happy for me to submit a PR for this or do you prefer a different fix?

Edward

[2016-06-02 07:09] BackSlasher commented on #45
Hi
Is there a use case where port is not an integer? Also, where is this default value from?

[2016-06-02 07:34] equick commented on #45
Yes I believe in these cases it is treated as a string:
[code]

The default value refers to the port number I was setting up eg,
[code]

where the port attribute above is defined in the attributes file as `default["httpd"][app]["modstatus"]["port"]=10040`

[2016-06-02 07:39] BackSlasher commented on #45
Oh. Well that settles the default part.
About the string:
[code]
So that's no problem. (I love ruby)
I think we should keep it an int and feed it int values (e.g. your
attribute should be `node.default['settings']['modstatus']['port'] = 5` and
not `node.default['settings']['modstatus']['port'] = "5"`).
I see that you wrote it like the attribute is an int already, is it really
so? (Check with `node

[2016-06-02 20:42] equick commented on #45
Yes in my attributes I already defined it without the quotes. I have just tried this at home with a clean slate using the example in your README:
[code]
And that gives me the same error as well although obviously the port is in quotes there. So I tried it without the quotes and got exactly the same result.

[2016-06-02 20:47] BackSlasher commented on #45
I'm a bit far away from messing with this cookbook atm. Could you please
test using a debug print in the provider whether the data passed in string
or int?

*Nitzan Raz*
http://backslasher.net

On Thu, Jun 2, 2016 at 11:42 PM, equick <notifications@github.com> wrote:

[2016-06-02 21:21] equick commented on #45
No probs :) So testing this code:
[code]
In selinux_policy-0.9.5/providers/port.rb I added the following debug (let me know if this looks wrong):
[code]
And got this output in the chef-client run
[code]

[2016-06-02 21:26] BackSlasher commented on #45
Maybe this is the `name_attribute` thing. Try manually specifying the port
(`port 5681`)?
if so we'll have to think what to do.

*Nitzan Raz*
http://backslasher.net

On Fri, Jun 3, 2016 at 12:21 AM, equick <notifications@github.com> wrote:

[2016-06-02 21:37] equick commented on #45
I was asking about this in the Chef channel and got the following responses:

If I update the resource to this, it removes the deprecation warning:

`attribute :port, :kind_of => [String, Integer], :name_attribute => true`

[2016-06-02 21:38] BackSlasher commented on #45
Sure we can do that, but we agree that ports should be ints. I'll look into
why it was handed a string in the first place

*Nitzan Raz*
http://backslasher.net

On Fri, Jun 3, 2016 at 12:37 AM, equick <notifications@github.com> wrote:

[2016-06-04 08:22] BackSlasher commented on #45
I thought about it, and the best way IMO is allow strings in the definition but have some internal logic that runs `to_i` on the value to force it to be an int. Not sure where to put it, WDYT?

[2016-06-04 21:14] equick commented on #45
Hmm it's a tricky one. On one hand it seems like a simple fix just to add String to the kind_of section and be finished with this (it's a trivial issue after all). However I do get that the port is an Integer. I'm also not sure the deprecation error makes sense in this case, given that we are passing an integer. Do you think this is a chef issue?

[2016-06-05 07:29] BackSlasher commented on #45
1. The resource `title` attribute type is string
2. If we put an int there, it gets converted
3. Using `name_attribute` means that `port` gets its value from the `title`
4. This means it gets a `string` value.

I was busy writing a much longer solution here, but I think I had an idea. Make it `string` and add a regex validation to ensure it looks like a number (`/\d+/`). Looks good? Are you up for

[2016-06-05 07:55] equick commented on #45
Thanks you summed it up really well :) I think that sounds like an excellent solution and yes I'll give it a shot.

[2016-06-05 09:35] equick commented on #45
Hi, is this what you had in mind?

[2016-06-05 09:40] BackSlasher commented on #45
No, even simpler:
[code]
I don't have the time for testing it.
Also don't worry about version numbers, I have a system for it :)

[2016-06-05 19:57] equick commented on #45
Clever, I forgot Chef could do that :) I tested it with some different values:

1234     - passed
"1234"  - passed
"12ef" - chef run fails with:
`STDERR: ValueError: invalid literal for int() with base 10: '12ff'
FATAL: Chef::Exceptions::ChildConvergeError: Chef run process exited unsuccessfully (exit code 1)`
"ffff" - execute skipped due to not_if..... The chef client run ends with this message:

[2016-06-05 20:02] BackSlasher commented on #45
so the validation doesn't work with `name_attribute`. Bummer. Let's try
thinking about something else

*Nitzan Raz*
http://backslasher.net

On Sun, Jun 5, 2016 at 10:57 PM, equick <notifications@github.com> wrote:

[2016-06-06 21:47] equick commented on #45
I asked about this in the Chef IRC channel and @coderanger gave me some help:
[code]

[2016-06-10 21:16] jhmartin opened #46 "Packages required for selinux_policy_module"
On RHEL/CentOS, `package 'selinux-policy-devel'` is required to add new policy modules.

[2016-06-10 21:22] BackSlasher commented on #46
Hi.
Can I get a little more detail, like specific OS, error?

Thanks

*Nitzan Raz*
http://backslasher.net

On Sat, Jun 11, 2016 at 12:16 AM, Jason Martin <notifications@github.com>
wrote:

[2016-06-10 21:24] jhmartin commented on #46
https://forums.fogproject.org/topic/6154/selinux-policy demonstrates the issue:
[code]

[2016-06-10 21:30] BackSlasher commented on #46
I think I have a test for that in the kitchen (runnable via `kitchen test`).
I'm not in position for testing - could you please check it?
If not I'll do it some other time

[2016-06-10 21:36] jhmartin commented on #46
The test passes as your 7.2 box comes with that packages preinstalled, but it is not part of the vanilla installation.

[2016-06-11 08:00] BackSlasher commented on #46
https://github.com/BackSlasher/chef-selinuxpolicy/blob/f52ee57/recipes/install.rb#L22
Did you include `selinux_policy::install` in your run?

[2016-06-11 14:09] jhmartin commented on #46
I am apparently blind.

[2016-06-11 14:09] #46 closed

[2016-06-11 14:16] BackSlasher commented on #46
Thanks for using and reporting, GL etc
If we need to stress it more in the README I'll accept PRs! :)

*Nitzan Raz*
http://backslasher.net

On Sat, Jun 11, 2016 at 5:09 PM, Jason Martin <notifications@github.com>
wrote:

[2016-09-02 15:52] daften opened #51 "Current version doesn't allow to adapt symlink labels"
For that -f -l (of -f l for RHEL>7) is needed.

[2016-09-02 15:59] BackSlasher commented on #51
Hey @daften
Thanks for letting me know. Would you like to suggest a PR for that?

[2016-09-02 16:15] daften commented on #51
Jup, I will try to create one over the course of the next week. :)
Thanks for the quick reply!

[2016-09-04 21:04] daften commented on #51
Added a PR: #52
Still working on it, but feel free to comment

[2016-09-05 14:50] daften commented on #51
The PR is finished as far as I'm concerned, feedback welcome.

I also noticed that one of the tests through kitchen fails, since the relabel's aren't always done immediately. I've re-enabled the faulty test in my last commit, couldn't figure out why it was failing exactly, or how to fix it, besides doing an extra relabel just before, or setting the relabel notification on the modify action to :imm

[2016-09-05 15:09] BackSlasher commented on #51
Thanks for the contribution. Let's continue further discussion in the PR.
CC @equick if you wanna take a peek

[2016-10-31 21:03] mihasya opened #53 "Expected behavior when port is defined as part of a range"
We are experiencing the following issue: when trying to define port 40933 as a `syslog_port_t`, the cookbook fails because it tries to call `semanage -m` (`action :modify`) on a port that is only defined as part of a range. e.g:

[code]

The problem appears to be due to the fact that the `run_action(:add)` block exits due to its `not_if` clause (because the port DOES show up in the `port_defined`

[2016-10-31 21:13] BackSlasher commented on #53
This is a good question, but I think the answer varies by person.
I ignored this intentionally when I was working on the port resource because I didn't want the cookbook to do anything surprising - its behavior should be very obvious, and doing anything like modifying a range, adding a competing rule etc is not obvious.
What is your opinion on what should happen? As far as I get from a quick readi

[2016-10-31 21:18] mihasya commented on #53
Re: duplication: I don't believe so, because the port is defined as an `ephemeral_port_t`, which appears to be some sort of catch-all selinux context, not the context I'm trying to add it to. I'm honestly not the strongest selinux user, so I'm not sure if having the port in both contexts would be considered problematic. But the result of this patch appears correct to me - the port is properly spec

[2016-10-31 21:26] BackSlasher commented on #53
From quick googling:
https://wiki.gentoo.org/wiki/SELinux/Labels#Modifying_port_labels
Not sure I want to put this logic into the cookbook. Maybe `force` or testing.
Will sleep on it.

[2016-10-31 21:28] mihasya commented on #53
Yup, we'll roll forward with a fork via Berksfile for now, but of course would love to get a long-term fix one way or another. Thanks!

[2016-11-01 08:52] BackSlasher commented on #53
I don't do a lot of SELinux these days. If you could do some research about how `seinfo` and `semanage` behave with these existing port types, maybe we can come up with a behavior to handle that

[2016-11-03 07:41] kkeane opened #54 "fcontext is painfully slow"
Each selinux_policy_fcontext resource takes a very long time to run - five to ten seconds on my system. This is of course due to the underlying semanage utility also being slow.

When adding many fcontexts, that slow down my cookbook to unacceptable levels (from 2 to about 20 minutes) - not just the first time, but on every run because testing the guards also takes a long time.

The semanage utili

[2016-11-03 08:05] BackSlasher commented on #54
RE many contexts at once - this not good CM methodology, but if we make it elegant we can consider it. Can you suggest a syntax?
RE caching, consider this:
[code]
When I was looking at speeding these things up, I looked into using custom Python scripts instead of `semanage`, thinking the problem was that the code there was bloated. Sadly, this proved false.
AFAIK `semanage` is slow because manipul

[2016-11-03 08:45] kkeane commented on #54
Yes, I see the point. It's a common situation in software development: you have a very nice design, but then in the end you find that it isn't all that performant, and you have to tweak it. Another example where the same problem surfaced was multipackage support in the package resource, as well as the multipackage cookbook. Also a situation where the gospel CM way ended up extremely slow. Same thi

[2016-11-03 08:52] BackSlasher commented on #54
Well, if you have a concrete suggestion for batching in some way, even
syntax description, I'll be happy to read it.
I don't think we can achieve something like that without doing some Ruby
dark magic, or making one ugly resource, but let's see.

*Nitzan Raz*
http://backslasher.net

On Thu, Nov 3, 2016 at 10:46 AM, Kevin Keane <notifications@github.com>
wrote:

[2016-11-03 09:47] kkeane commented on #54
This idea is taken from https://supermarket.chef.io/cookbooks/multipackage . I think there are also some useful implementation ideas in that cookbook; it uses an accumulator pattern.

selinux_policy_multi "all my contexts" do
  file_specs [ "/firstpath", "/secondpath" ]
  secontexts [ "context1_t", "context2_t" ]
  file_types [ "a", "a" ]
  action :addormodify
end

selinux_policy_multi "all my con

[2016-11-04 18:14] mihasya commented on #53
`ephemeral_port_t` is (apparently) equivalent to `unreserved_port_t`. If you mentally make that substitution when reading the link you posted, it sounds like my proposed logic is totally kosher. The check might need to be tightened up to specifically exclude "ephemeral" and "unreserved" labels from the "is this port defined?" check.

[2016-11-04 19:08] BackSlasher commented on #53
So just ignore 3 specific labels when doing the `semanage` check? This sounds like it can fly. Wanna write a PR for that?

[2016-11-05 10:15] BackSlasher commented on #54
I like Lamont's work but this multipackage thing seems hella ugly.
A better alternative IMO is define some resources with `action :nothing`, and have a `transaction` resource that collects them and runs them, something like:
[code]
Not sure how complicated it'll be to implement though.

[2016-11-05 19:27] kkeane commented on #54
I think there should be several considerations here. For one, optimizations often tend to be ugly. It's the nature of the beast. And to some extent, it is also a matter of taste. I find multipackage quite neat, although I could imagine two improvements (both of which may end up not having much value in real life).

I would argue for a multipackage-style solution for several reasons:

- consistency

[2016-11-06 13:50] BackSlasher commented on #54
Widely used? Iunno, doesn't seem so popular according to my quick checks. I'll admit I'm not working with Chef so much, so I may be out of sync.
My approach isn't sequence driven (I think), since the actual action only happens in convergence phase. You can go crazy and do something like
[code]
Just like with notifications. Looks weird to me that you'd want to do that, but whatevs
RE single cookboo

[2016-11-06 18:24] kkeane commented on #54
Yeah, I completely hear you about the drawbacks - there seem to be advantages and drawbacks on both sides, and reasonable minds can disagree on what's more important. I just like the consistency in the pattern, but your points have merit, too. And in the end, it's your call.

What I care about most is solving the performance problem. Exactly how to do that is secondary - it seems like we have at l

[2016-11-07 08:52] BackSlasher commented on #54
So, to sum up - I'd gladly read bits of code if you (or anyone) wanna slide some my way.
I'm not a big fan of anything implicit though - we'll need to have all of the "collection" explicit as much as possible to avoid any potential side effects.

[2016-11-11 07:06] atward opened #55 "Notifies new_resource causes issues"
This is breaking whenever `notifies :relabel, new_resource` executes and the `:relabel` executes . Doing so causes the resource to be updated in two places, which then throws an exception.

Second compile does not cause issues

Chef output with `-l debug`
[code]

[code]

chef-stacktrace.out
[code]

Moving the `:relabel` execute inside the `:add` does not cause an issue. I think instead you want an

[2016-11-11 18:06] BackSlasher commented on #55
Hi
Thanks for reporting an issue. Could you provide a complete recipe that causes breakage?
Also, if you have a fix it'll be better to open a PR than an issue.
Thanks!

[2016-11-11 23:30] daften opened #56 "Better check for which folder to relabel possible?"
This is more a question than an issue, because nothing is truly broken.
I have a fcontext for /var/lib/mysql-default(/.*)?
The relabel for this is a restorecon on /var/lib

Could the code that checks the path be rewritten so the restorecon would be done on /var/lib/mysql-default? Is there a list of special regex characters that could be trimmed from the end that should never be in folder names?

T

[2016-11-12 23:10] BackSlasher commented on #56
Hi @daften. I think we can modify [this code](https://github.com/BackSlasher/chef-selinuxpolicy/blob/8702b08/providers/fcontext.rb#L28) to run on the actual files. Maybe something with `find STUFF | xargs restorecon -R`
Will you manage a PR?

[2016-11-13 22:13] BackSlasher commented on #56
[linked above](https://github.com/BackSlasher/chef-selinuxpolicy/blob/8702b08/providers/fcontext.rb#L28)

[2016-11-13 22:17] atward commented on #56
To rephrase, I'd like to see the _recipe_ that causes it to relabel over `/var/lib`. As per [the command generator](https://github.com/BackSlasher/chef-selinuxpolicy/blob/8702b08/providers/fcontext.rb#L22) it should only do that if `mysql-default` does not exist. This check/command-generation is done at compile time, hence my suggestion for `lazy { }`

[2016-11-13 22:18] BackSlasher commented on #56
Aha. @daften can you provide a use-case?
Also, I don't see the reason for ever running on `/var/lib`, but I might be missing something

[2016-11-13 22:18] BackSlasher commented on #56
I think the issue back then was that the SELinux's regex didn't match `find`'s regex

[2016-11-13 22:32] atward commented on #56
Re: restorecon taking a long time. As @daften said, the relabel execute resource actually runs it twice (due to guard).

I also agree that the guard should be removed. The only caveat is this will cause the resource to always flag as being updated. To fix you would have to convert the execute to a shell_out and check length of stdout.

[2016-11-13 22:34] BackSlasher commented on #56
Well, I think I'll accept PRs on that

[2016-11-13 22:54] atward commented on #55
Usecase:
[code]

First chef run fails with error from original report. Second passes due to not running both resources. Running undo to delete fcontext + change file will cause the 3rd chef run to fail in same manner as first run.

[2016-11-13 23:00] daften commented on #56
This is the regex why it falls back to /var/lib:
[code]
It is like this because all subfolders need to get the mysql_db_t label.
What happens now is that the first parts splits on the last / it finds, so it remains with /var/lib/mysql-default( which is off course not a real folder, so it splits again on /, which gets it /var/lib.

And agreed with @atward , the guard doesn't really make sense here,

[2016-11-13 23:03] atward commented on #56
Removal of guard included in #57

[2016-11-13 23:08] atward commented on #55
Output post #57 for comparison (I understand you're not actively developing/might not have a test server).
[code]

Restorecon runs on first & third run as expected via notifies.

[2016-11-13 23:25] atward commented on #55
Re: #57. `relabel` action restored.
[code]

[2016-11-14 00:47] atward commented on #56
@daften, the problem is that the cookbook has no way of knowing what is the highest possible path given a regex. Take for example the following:

[code]

The best the code can do is check for the existence of files/directories that match the regex, and then apply to that (which it is doing by `File.directory?`).

If you use the lazy change from #57, and put a `directory  '/var/lib/mysql-default'`

[2016-11-14 00:51] daften commented on #56
Nope, I get these results on all runs, not just the first that installs MySQL.
And I understand what the problem is, it can't detect the /var/lib/mysql-default  as a folder, but what you're suggesting won't fix that. The folder IS already there, but because of the way it parses the regex: splitting on '/', it doesn't try to check if /var/lib/mysql-default exists, it checks if /var/lib/mysql-defaul

[2016-11-14 01:06] atward commented on #56
I see it now.

Find should suit as suggested earlier, but will need to set regextype. I'm not sure if this will have compat issues (requires find 4.2.24+)

    find / -regextype posix-egrep -regex '#{new_resource.file_spec}' -print0  2>/dev/null | xargs -0 restorecon -i

[2016-11-14 07:24] BackSlasher commented on #56
RE compat, I have a supported OS list. If it passes testing, I'm happy

On Nov 14, 2016 01:06, "Adam Ward" <notifications@github.com> wrote:

[2016-11-14 10:30] daften commented on #56
How about
[code]
Or do you reckon this will get too many doubles. With find i'm worried we'll miss hidden files

[2016-11-14 10:43] daften commented on #56
Just checked and the find is extremely fast in both cases now (as it should be).
I'll look into a PR, but would prefer to start it when there's consensus on #57

[2016-11-24 20:27] BackSlasher commented on #51
fixed by 394cd97c08bb27067db9085a63ccd950121c4184

[2016-11-24 20:27] #51 closed

[2016-11-24 20:29] BackSlasher commented on #55
So I'm not sure what's going on here. There is nothing of interest now in `providers/fcontext.rb:99`

[2016-11-24 20:30] BackSlasher commented on #54
Should be solved by #60

[2016-11-24 20:59] kkeane commented on #54
I didn't have a chance to test it yet, but I don't see how #60 would address the issue. The slowness does not occur during restorecon, but rather is due to semanage fcontext being called frequently, once for each selinux_policy_fcontext resource.

semanage fcontext basically does three things: open an selinux transaction, update the fcontext database, and close the selinux transaction. Updating th

[2016-11-24 21:01] BackSlasher commented on #54
Yeah I got confused again, sorry. Will not be solved by #60

[2016-12-13 17:25] shortdudey123 opened #61 "New Maintainer"
Hi!  I am part of the sous-chefs community org.  We saw your request for a new maintainer of this cookbook and would like to take you up on the offer.

https://github.com/sous-chefs
https://supermarket.chef.io/users/sous-chefs

Let me know if that would me possible :)

[2016-12-13 18:04] BackSlasher commented on #61
Hi, thanks for writing!
I'd be happy to get some help with handling things around here. Please ping me at nitz.raz@gmail.com and we can get talking.

[2016-12-13 18:27] shortdudey123 commented on #61
Emailed

[2016-12-13 18:27] #61 closed

[2016-12-14 08:37] shortdudey123 commented on #45
@equick this appears to have been fixed in master via your commits https://github.com/BackSlasher/chef-selinuxpolicy/commit/387225487e4a77568c70e005a4154068153f20c3

[2016-12-14 08:55] BackSlasher commented on #45
I believe. Please reopen if not

[2016-12-14 08:55] #45 closed

[2017-01-30 07:18] shortdudey123 commented on #55
Still seeing this w/ `v1.1.1`

[code]
[code]

[2017-01-31 10:59] BackSlasher commented on #55
I wonder what's the actual trigger for this. You don't seem to be explicitly relabeling the resource.
I think that a first step would be to add a test recipe that actually triggers this and then drill down on the root cause.
BTW, this is line 82 that supposedly fails:
https://github.com/sous-chefs/selinux_policy/blob/v1.1.1/providers/fcontext.rb#L82
Not very informative

[2017-01-31 17:14] shortdudey123 commented on #55
yeah, thats on the todo list when i have a chance :)

[2017-01-31 23:08] atward commented on #55
@shortdudey123 #57 is the fix for this. Feel free to update that for the latest HEAD

[2017-01-31 23:16] shortdudey123 commented on #55
ah, that removes the resource action conflict.  Let me try that out

[2017-02-01 10:02] shortdudey123 commented on #55
I have not had time to dig into why, but https://github.com/sous-chefs/selinux_policy/pull/57 does fix the issue

@atward can you rebase that PR on master?

[2017-02-01 10:34] BackSlasher commented on #55
@shortdudey123 Did you manage to understand where `new_resource` is null?

[2017-02-01 20:21] shortdudey123 commented on #55
No, i haven't been able to track that down yet :(
The code in master should work based my understanding of it, but it doesn't

[2017-02-20 20:07] damacus opened #65 "selinux_policy Chef-13"

[2017-02-27 18:42] shortdudey123 commented on #55
Just a theory, but it might have to do w/ resource cloning since its the same resource name.  When you are inside the resource code, the clone probably is not done.

[2017-04-18 19:11] #56 closed

[2017-04-21 22:28] #65 closed

[2017-04-21 22:46] shortdudey123 commented on #65
This was completed w/ the release of 2.0.0

[2017-04-22 00:06] shortdudey123 commented on #55
Released this in 2.0.1 with https://github.com/sous-chefs/selinux_policy/pull/67 and it still does not actually fix the issue

@daften FYI

[code]

[code]

[2017-04-22 09:54] daften commented on #55
Hmmm, I'll take a look at this tomorrow then!

[2017-04-22 10:08] daften commented on #55
This will reinstate the behaviour that regexes just WON't WORK with this cookbook :(

[2017-04-22 10:29] daften commented on #55
Do you think the error could be related to the faulty use of run_action. It is meant for actions to run during compile phase: https://docs.chef.io/resource_common.html#run-action?
I've run kitchen test again. The same thing as in your code sample basically happens, and no errors there

[2017-04-22 20:24] shortdudey123 commented on #55
Possibly? I got our production code running in test kitchen and can't reproduce the error at all there.  However i can reproduce it 100% in prod.  Let me dig a bit more and see if i can figure out why.

[2017-04-22 20:26] BackSlasher commented on #55
chef version diff?

On Apr 22, 2017 23:24, "Grant Ridder" <notifications@github.com> wrote:

[2017-04-22 20:30] shortdudey123 commented on #55
I changed the kitchen tests here to match the chef version (12.16.something) and they still passed (with exception for the huge amount of resource cloning which i will put a PR in for in a sec)

[2017-04-22 20:44] daften commented on #55
I'm not saying you're lying or anything, just that the kitchen tests don't show this errors, so they need to be adapted. The case in kitchen test is the same basically as your snippet, so I can't find how to reproduce unfortunately. :s

[2017-04-27 05:11] shortdudey123 commented on #55
So i did a bit more digging and this issue might actually be a chef bug (https://github.com/chef/chef/issues/5593) involving the data collector

[code]

bug was fixed in 12.17.44 and i am on 12.16.42 in prod
Going to test 12.17 when i have a change

[2017-04-28 06:29] shortdudey123 commented on #55
Confirmed that this is a bug in chef core.  Using Chef 12.19.x does not produce the error seen above.

Don't know why the PR i rebased and fixed up doesn't trigger the bug, but whatever.
@BackSlasher so we have a decision...
1) merge https://github.com/sous-chefs/selinux_policy/pull/68 to support 12.16.42
2) leave master as is and not support 12.16.42

[2017-04-28 10:15] BackSlasher commented on #55
Is this bug specific to 12.16.42, so that later versions don't have it?

[2017-04-28 18:11] shortdudey123 commented on #55
Correct, from a official releases of Chef standpoint, 12.16.42 is the only version w/ the bug

[2017-04-28 18:50] BackSlasher commented on #55
Let's avoid giving it special treatment by merging this.
We can keep this handy in case `12.16.42` becomes abnormally popular (e.g. the version distributed by Debian, AWS etc). WDYT?

[2017-04-28 18:55] shortdudey123 commented on #55
👍 let me add quick note to the readme about it for reference

[2017-04-28 19:24] shortdudey123 commented on #55
Closing as a Chef 12.16.42 core bug that we will not work around

[2017-04-28 19:24] #55 closed

[2017-04-29 00:35] daften commented on #55
Many thanks @shortdudey123 for researching this so thoroughly!

[2017-05-02 19:18] acranox opened #71 "shellout to find is traversing /proc"
This is kind of crazy:
https://github.com/sous-chefs/selinux_policy/blob/master/providers/fcontext.rb#L41

You occasionally run into errors like this:

[code]

If you're going to shellout to find, you could determine the filesystem you need to search, and then use -xdev to avoid crossing filesystem boundaries, otherwise you could start searching large network storage, or hitting issues like this w

[2017-05-02 19:21] shortdudey123 commented on #71
@daften can you take a look at this? thoughts?

[2017-05-02 19:27] BackSlasher commented on #71
lol
We should probably add `-xdev` (Don't descend directories on other
filesystems.)
Should have thought about that

*Nitzan Raz*
http://backslasher.net

On Tue, May 2, 2017 at 10:21 PM, Grant Ridder <notifications@github.com>
wrote:

[2017-05-02 19:31] shortdudey123 commented on #71
Ah, did not know about the `-xdev` option :)

[2017-05-02 19:33] BackSlasher commented on #71
@acranox you have a chance at everlasting glory here. Translate your recommendations into a PR and submit! :smile:

[2017-05-02 19:35] shortdudey123 commented on #71
One thought though... if the find is executed on `/` like it currently is and you add `-xdev` then won't the find fail if the directly (`new_resource.file_spec`) is not on the root partition?

[2017-05-02 19:36] BackSlasher commented on #71
that's true. We should probably eliminate virtual filesystems though.

[2017-05-02 19:37] acranox commented on #71
That's correct, about running find on / if your resource isn't in that FS.
You'll need to determine what filesystem new_resource.file_spec is on first.
Don't count on me for a PR.  at least not in a timely fashion.  :)

[2017-05-02 19:39] shortdudey123 commented on #71
Probably can use `df <dir>` and parse the mount point

[2017-05-02 19:44] BackSlasher commented on #71
I might still want to operate on other filesystems.
I think the best solution would be to avoid doing smart things, and having
some attribute ("restorecon_single_filesystem") to add this behavior.
Maybe we can by default avoid proc with something like this
https://unix.stackexchange.com/a/193277

*Nitzan Raz*
http://backslasher.net

On Tue, May 2, 2017 at 10:39 PM, Grant Ridder <notifications@gith

[2017-05-02 19:48] acranox commented on #71
stat --format '%m' <file>  might be lighter weight than df.

[2017-06-02 14:57] acranox commented on #71
I got bit by this again today.  It looks like the find command starting traversing into an Amazon EFS volume, and after 600s, it timed out and the chef run failed.  I created a PR that may address it.

[2017-06-06 17:17] gopalvd opened #73 "resource 'execute[selinux-fcontext-redis_conf_t-add]'"
I am running this on the CentOS7 version. Even when converging on a vagrant the redisio is downloading the latest cookbook version. Still i see this error. Is there any fix for this?

redisio (2.6.1)
selinux_policy (2.0.1)
Linux 3.10.0-327.10.1.el7.x86_64 #1 SMP Tue Feb 16 17:03:50 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
[code]

[2017-06-06 17:19] BackSlasher commented on #73
please edit your post to put the code in a code block as this is hard to
read

On Jun 6, 2017 20:17, "gopalvd" <notifications@github.com> wrote:

[2017-06-06 17:21] gopalvd commented on #73
@BackSlasher Updated.

[2017-06-07 12:56] BackSlasher commented on #73
Looks like `redis_conf_t` is not a valid type. Assuming it comes from some package, did you make sure to install it before reaching this part of the run?
For example, to have `httpd_sys_content_t` you need to have `httpd` installed (so `package "httpd"` I think)

[2017-07-13 13:57] Fodoj opened #74 "Fails to install on Amazon Linux"
metadata.rb says that amazon linux is supported, but [install recipe](https://github.com/sous-chefs/selinux_policy/blob/master/recipes/install.rb) doesnt' have a chance to succeed on Amazon Linux

[2017-07-13 14:23] BackSlasher commented on #74
Thanks for reporting!
We'll happily accepting PRs on this :smile:

[2017-07-19 15:44] GMartinez-Sisti opened #75 "semodule-install not idempotent"
Hi,

I'm using a wrapper for this cookbook on CentOS release 6.8 (Final) and Chef 12.11.18, and although the final configurations are working, the step "semodule-install" is being executed every time.

I have tracked the code that should be preventing this on "selinux_policy/providers/module.rb"

[code]

This is part of the chef_run:

[code]

You can see that even though the previous step didn't r

[2017-07-19 15:49] BackSlasher commented on #75
Thanks for reporting this!
The easiest way to check whether this depends on your chef version is to add something that triggers the bug to our kitchen tests, and then run them to test a matrix of Chef versions and OSes
WDYT?

[2017-07-20 10:39] GMartinez-Sisti commented on #75
I was looking at the code again and I think I found the bug.

There are multiple conditions defined in only_if, in the end if any of these are true it will run:

- shell_boolean(new_resource.updated_by_last_action? || new_resource.force)}
- ! (#{module_defined(new_resource.module_name)})
- use_selinux

The last one "use_selinux" defined in "selinux_policy/libraries/helper-disabled.rb" will be true

[2017-07-20 11:29] BackSlasher commented on #75
@GMartinez-Sisti could you do me a favor, go to the codefile that does that, click the row counter next to the problematic line, and copy the URL here (it'll have a bookmark to the right line)?
Will save me some time digging through the code

[2017-07-20 11:30] GMartinez-Sisti commented on #75
@BackSlasher this is the line:

[2017-07-20 11:33] BackSlasher commented on #75
I don't see the problem there. The logic looks good. This file also doesn't contain `only_if`

[2017-07-20 11:35] GMartinez-Sisti commented on #75
@BackSlasher sorry about that, this would be the line then (I thought you wanted the helper line):

https://github.com/sous-chefs/selinux_policy/blob/master/providers/module.rb#L63

[2017-07-20 11:49] BackSlasher commented on #75
Aha, so we're referring to the fact that there are multiple `only_if`s. You're saying that if at least one of them it true, the resource will run. Right?

[2017-07-20 12:23] GMartinez-Sisti commented on #75
@BackSlasher yes, that is true, if only one matches the resource will be executed. That's not clear in the guards documentations (https://docs.chef.io/resource_common.html#guards) as they don't have examples for multiple guards, but googling around I found that to be the behaviour (Ex http://lists.opscode.com/sympa/arc/chef/2015-03/msg00048.html).

I believe would be related to adding { use_selinu

[2017-07-20 15:44] BackSlasher commented on #75
@GMartinez-Sisti I think this is false

https://github.com/chef/chef/blob/db57131ad383076391b9df32d5e9989cfb312d58/lib/chef/resource/conditional.rb#L80
https://github.com/chef/chef/blob/7cee8296914cd826cad49d0d574a786c78026205/lib/chef/resource.rb#L1434

Looks like Chef is trying to find a conditional that fails, and if it find it, it stops.
I don't have a Chef workstation at the moment, but this

[2017-07-20 16:05] GMartinez-Sisti commented on #75
Hi @BackSlasher,

You are right, if at least one steps fails the execution is skipped. I have tested with the following:

default.rb:

[code]

This is the output:

[code]

So we are back to the square one:

Is this something you are able to do from your side? I didn't get that.

Regards

[2017-07-21 07:07] BackSlasher commented on #75
In short:
1. Install ChefDK
2. Clone this repo to your machine
3. Add your test to this cookbook: https://github.com/sous-chefs/selinux_policy/tree/master/test/cookbooks/selinux_policy_test
  See other resources there for inspiration
4. Run `kitchen test` from the repo's root to run the tests on all of the combinations in [.kitchen.yml](https://github.com/sous-chefs/selinux_policy/blob/master/.kit

[2017-10-12 21:35] damacus commented on #71
See #72

[2018-03-05 14:34] chewi commented on #54
Assuming it's the relabelling you're finding slow, you will probably find it much faster now thanks to #77.

[2018-03-05 14:35] chewi commented on #71
This can be closed now.

[2018-03-05 16:46] #71 closed

[2018-03-29 05:48] uqwhsu opened #79 "The compat_resource cookbook has been deprecated"
From https://supermarket.chef.io/cookbooks/compat_resource#changelog
The compat_resource cookbook has been deprecated and is no longer being maintained by its authors. Use of the compat_resource cookbook is no longer recommended

[2018-05-17 13:29] quulah commented on #73
`redis_conf_t` is in a newer selinux-policy-targeted package. I can't check now, but I have this in my runs due to the same error that @gopalvd encountered, so it's probably this particular version:

[code]

[2018-05-20 10:50] damacus opened #84 "Continuous Integration Testing"
One for the ChefConf hack day if you're around.

- Travis (has selinux disabled by default)
- CircleCI?
- Another?

What we need are images that have SELinux disabled & enabled initially so it speeds up testing when it's enabled, and tests it can be enabled when we enable it.

[2018-07-26 13:13] erinn opened #85 "sh: semanage: command not found"
### Cookbook version
latest

### Chef-client version
14.2
### Platform Details
RHEL 7.5

### Scenario:
Chef client 14.2 changed the way execute works, from the release notes:

default_env Property in Execute Resource

The shell_out helper has been extended with a new option default_env to allow disabling Chef from modifying PATH and LOCALE environmental variables as it shells out. This new option

[2018-09-06 21:31] jqassar commented on #85
Also occurs with items in /usr/sbin (getsebool, setsebool).

[2018-09-07 06:49] damacus commented on #85
Yep. This cookbook is currently pretty hard to integration test on Travis due to how it works.

If anyone has a time we'd love some help in getting this tested on even one platform automatically. Until then we can't easily fix bugs or improve the cookbook

[2018-09-07 16:59] jqassar commented on #85
What is the issue with CI?
Downgrading to 2.0.0 (where the execute commands are absolute paths, except for the semanage ones) works fine (except for the semanage calls) on Chef 14.  If the \*sbin\* paths to SELinux utilities are the same across all SELinux distros, making them all absolute would be good enough for now.  If they're not, then a helper to determine the paths and a setting of the envi

[2018-11-15 20:07] Techcadia opened #88 "[BUG] CentOS 7.x find 4.5.11 has a fd leak in -execdir - Too many open files"
### Cookbook Version
 2.0.1+
### Chef-client version
12.x -> 14.x
### Platform Details
CentOS 7.x Current

### Scenario:

find (GNU findutils) 4.5.11 has a filedescriptor leak in -execdir. This has been patched in 4.5.12 (http://git.savannah.gnu.org/cgit/findutils.git/commit/?id=183115d0) but currently CentOS 7.x runs on 4.5.11 (https://pkgs.org/download/findutils).

This change is what created th

[2018-11-19 20:45] josephholsten commented on #88
@Techcadia how should we go about fixing this?

[2018-11-19 20:48] Techcadia commented on #88
That's a great question @josephholsten. My first thought is revert back to using find + xargs vs inline. @daften might have a better understanding on why it was moved to `-execdir` as he was the one to commit the change. Seen here https://github.com/sous-chefs/selinux_policy/pull/67/commits/4c574249527a26cda63a6b795750f00a1a2b61ba

[2018-11-21 16:58] tnguyen14 opened #90 "ArgumentError with version 2.2.0"
With the latest 2.2.0 release, this error comes up:

[code]

[2018-11-21 18:08] damacus commented on #90
Hey. Thanks for the bug report.

Would you mind making a PR to fix this up?

I don't have enough bandwidth right now

[2018-11-21 18:09] damacus commented on #84
We should probably lean on chefspec for this.

[2018-11-21 18:10] damacus commented on #79
Thanks for this bug report. This is no longer required by this cookbook as we now require chef 13

[2018-11-21 18:10] #79 closed

[2018-11-21 18:12] damacus commented on #88
If you can get it working on find+args, then I say revert. Until we find a bug with that.

Fancy throwing a PR together?

[2018-11-21 18:14] damacus commented on #85
Feel free to revert to full paths if they're all the same on every platform.

Id just like to know we're not breaking more than we're fixing which isn't the case with the latest release

[2018-11-23 09:05] sspans commented on #90
Pull #92 should be good to go now, passes all tests.

[2018-11-26 16:49] tnguyen14 opened #93 "setsebool - No such file or directory"
### Cookbook version
2.1.0

### Chef-client version
14.2

### Platform Details
RHEL 7

### Scenario:
I have the following resource to enable support for NGINX

[code]

### Expected Result:
This works every time.

### Actual Result:
It works on the first chef run, but on some later chef runs, I get this error instead:

[code]

[2018-11-26 16:55] tnguyen14 commented on #93
I think this might be related to #85

[2018-11-26 23:57] Poohblah opened #95 "RHEL 8 support?"
Looks like this cookbook doesn't support RHEL 8:

[code]

It appears to me that the correct package names for RHEL 8 are:

[code]

[2018-11-27 13:51] damacus commented on #95
Honestly I"m not surprised due to RHEL-8 only being released into beta a week ago.

If you are up for it, feel  free to drop us a PR with some tests!

[2018-11-27 13:52] damacus commented on #95
Honestly that case statement is pretty harsh. If you want to look at fixing this issue, I'd start that.

[2018-11-27 14:50] sspans commented on #95
Afaik this is fixed in 2.2.0+

[2018-11-27 14:52] sspans commented on #85
The pull breaks more than it fixes. The best place to fix this would be the chef-client configuration.
Not sure the cookbook can do much besides giving a better error message.

[2018-11-27 16:25] damacus commented on #95
Closing as fixed! :) Thanks for the update @sspans

[2018-11-27 16:25] #95 closed

[2018-11-27 22:14] Poohblah commented on #95
Looks good to me on 2.3.0.  Thanks all

[2018-11-29 08:10] sspans commented on #93
I guess this can be closed.

[2018-11-29 08:45] #93 closed

[2018-11-29 08:46] damacus commented on #85
Closing .  with #97

[2018-11-29 08:46] #85 closed

[2018-12-17 12:45] daften commented on #88
This was done because the first method of using restorecon directly made the scope of the restorecon too big sometimes. See https://github.com/sous-chefs/selinux_policy/issues/56 for more info.

Why -execdir was used, see https://github.com/sous-chefs/selinux_policy/pull/67#discussion_r111671225

[2018-12-19 18:23] Techcadia commented on #88
@daften can you provide a example of the scope getting to large.

[2018-12-19 18:38] daften commented on #88
I think I gave an example in the original issue I linked :)

On Wed, 19 Dec 2018, 19:23 David <notifications@github.com wrote:

[2018-12-19 18:45] Techcadia commented on #88
@daften so your saying if we revert it back in PR #91 it will blow up on an edge case I don't see noted anywhere? I have read through the tickets linked twice and don't see where it was mentioned.

[2019-01-09 09:13] daften commented on #88
Thank you for that polite and definitely not attacking reply...
In the second line in ticket #56 I gave the case:  /var/lib/mysql-default(/.*)?  I use the mysql cookbook, therefore the -default suffix. The problem is with the original way of working it would do a restorecon on /var/lib, which is huge.

[2019-01-09 17:08] TechIsCool commented on #88
@daften can you run this diff for me.

[code]

Here is what I see returned
[code]

[2019-01-10 14:04] damacus commented on #88
Hey guys is there some way we cna move this bug forward?

I'm not seeing any concrete plans right now. If we have something I'm happy to get some consensus and get a fix merged in.

[2019-02-06 09:21] #88 closed

[2019-02-07 09:28] finferflu opened #104 "STDERR: find: paths must precede expression: 2>/dev/null"
### Cookbook version
2.3.2, 2.3.3

### Chef-client version
14.10.9

### Platform Details
CentOS 7

### Scenario:
[code]

### Steps to Reproduce:
This cookbook is used with Packer and chef-solo provider to build an Amazon Machine Image (AMI).

### Expected Result:
The cookbook should converge with no issues, as it did up until very recently.

### Actual Result:
Reported error during Packer build:
[

[2019-02-07 10:07] finferflu commented on #104
I have just tested another build with Chef client version 14.8.12 and selinux_policy 2.3.2, and I get the same error as described above. More context:

[code]

[2019-02-07 10:45] damacus commented on #104
Thanks for such a detailed issue!

I'll ping some of the other active community members who understand selinux better! :)

[2019-02-07 10:45] damacus commented on #104
@Techcadia @Stromweld

[2019-02-07 10:51] finferflu commented on #104
Thanks for the speedy reply, @damacus. From what I gather, I think this is more of an issue with `find`, rather than SELinux itself. It looks like `find` is having trouble with the `2>/dev/null` bit of the command.

[2019-02-07 15:16] Stromweld commented on #104
I'm definitely not an selinux expert but it looks to be more of a logic issue with this block https://github.com/sous-chefs/selinux_policy/blob/master/resources/fcontext.rb#L16-L36 and then the shell_out!() to find command

[2019-02-07 15:25] hexmoose commented on #104
The recent update assumes the `shell_out!` command is run in a shell, but it is not when called like it is with multiple args (see https://ruby-doc.org/core-2.6.1/Kernel.html#method-i-exec that is used by `shell_out!` internally). I'd suggest something like this as a fix:

    diff --git a/resources/fcontext.rb b/resources/fcontext.rb
    index 295e7aa..060ccae 100644
    --- a/resources/fcontext.

[2019-02-07 17:22] Techcadia commented on #104
Interesting that this is broken in 2.3.2 which was before the merge of #91. I agree after looking at what @hexmoose wrote that we should still use the corrected `shell_out`. I have applied his diff
https://github.com/Techcadia/selinux_policy/tree/fix/shell_out

Still trying to repo the actual stated bug.

[2019-02-07 17:35] hexmoose commented on #104
Thanks, @Techcadia. FWIW, I am only seeing the bug in 2.3.3, not 2.3.2.

[2019-02-07 17:38] Techcadia commented on #104
@hexmoose Cool that makes much more sense. I have attached the PR @damacus.

Not sure how this got lost when I did my original testing.

[2019-02-07 17:59] hexmoose commented on #104
@Techcadia, one other minor thing to note is that I tweaked the `xargs` command to remove the `-I {}`. It seems redundant to me, but perhaps you've encountered a use case that necessitates it? Just trying to prevent any other accidental regression. Thanks for prepping a PR for this fix.

[2019-02-07 18:28] Techcadia commented on #104
I have not encountered any issue I was just working with the older code that had it written that way.
[code]
are equal so I don't see this causing an issue.

I have confirmed that is was introduced in #91

Running against 2.3.3 causes the issue on a kitchen run.
Running against #105 which will become 2.3.4 no longer has the issue on a kitchen run.

As someone that has dealt with community cookbook

[2019-02-08 09:10] finferflu commented on #104
Hi folks,

Thank you very much for the quick action on this issue. I just wanted to confirm that I've been misleading when I said the bug was present in version `2.3.2`. In fact, I had not realised I had that I had the pessimistic operator (`cookbook 'selinux_policy', '~> 2.3.2'`), so I was testing against version `2.3.3`. Apologies for the confusion!

[2019-02-10 20:36] #104 closed

[2019-03-12 14:32] lplanas opened #110 "selinux_policy_boolean not persistent by default"
### Cookbook version
2.3.4

### Chef-client version
13.6.4

### Platform Details
Centos 7

### Scenario:
Setting a boolean with selinux_policy_boolean is not persistent by default.

### Steps to Reproduce:
I had this same recipe with version 1.0.1 and I recently updated to 2.3.4 and my recipes with:

are not persistent anymore and I had to include the flag:

### Expected Result:
It was expected th

[2019-03-28 18:06] TomGMan opened #111 "Amazon Linux 2 not supported"
https://github.com/sous-chefs/selinux_policy/blob/d3868fd5a4581d2c73ea102950a5c1aef04d9587/resources/install.rb#L4-L31

Amazon Linux 2 has platform_family `amazon`, whereas Amazon Linux (1) reports this as `rhel`

This makes this recipe fail on Amz Linux 2 instances.
[code]

[2019-04-01 09:26] damacus commented on #111
Hi!
which version of ohai, and Chef-client are you using?

Amazon-1 and Amazon-2 should both be reporting as platform_family amazon

[2019-04-02 12:12] TomGMan commented on #111
Ohai: 8.26.1
Chef:12.22.5
I'm aware this is EOL.

Regardless of @damacus ' comment, the cookbook will still fail.

[2019-04-02 22:22] damacus commented on #111
If you can provide replication steps on a non-EOL version of Chef then we'll happily take a look.

Right now we only support Chef 13 and 14. Soon to be Chef 14 and 15

[2019-04-02 22:22] #111 closed

[2019-04-03 08:47] TomGMan commented on #111
Replication: Amazon Linux 2 box
Install Chef 14.
Use recipe that has a dependency on this cookbook.
See it fail.

don't see why/how Chef 12 would be relevant as the platform_family for amazon linux is simply not in the code and therefore it will always fail ever since the update was pushed through in Chef to list Amz Linux as "amazon" platform family.

[2019-05-11 17:17] Xorima commented on #34
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-11 17:17] #34 closed

[2019-05-11 17:17] Xorima commented on #53
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-11 17:17] #53 closed

[2019-05-11 17:17] Xorima commented on #54
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-11 17:17] #54 closed

[2019-05-11 17:17] Xorima commented on #73
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-11 17:17] #73 closed

[2019-05-11 17:17] Xorima commented on #75
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-11 17:17] #75 closed

[2019-05-11 17:17] Xorima commented on #74
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-11 17:17] #74 closed

[2019-10-09 22:40] PowerSchill opened #120 "Dangerfile should use failure instead of fail"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

On the repo, ensure that `Dangerfile` matches https://github.com/sous-chefs/repo-management/blob/master/Dangerfile

Issue sprouted from sous-chefs/meta/issues/110. If not applicable then i

[2019-10-09 22:40] PowerSchill opened #121 "Remove .rubocop.yml with Dangerfile"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

If the only thing in the `.rubocop/yml` is Dangerfile
Run the latest cookstyle
Remove `.rubpopo.yml`

Issue sprouted from sous-chefs/meta/issues/108. If not applicable then issue should be

[2019-10-09 22:40] PowerSchill opened #122 "Update Changelog"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Update all CHANGELOGs to follow standard defined at <https://keepachangelog.com/>

Issue sprouted from sous-chefs/meta/issues/101. If not applicable then issue should be closed.

[2019-10-09 22:40] PowerSchill opened #123 "Run latest cookstyle"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Chef have released updated cookstyle rules, we should therefore run the auto fix against the cookbook

1. Ensure you are on the latest stable `chef-workstation`
1. Run `cookstyle -a`

Issu

[2019-10-09 22:40] PowerSchill opened #124 "Update builds to be parallel"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

As part of our build process we should build each possible operating system separately

1. Ensure you have dokken setup and working:
  1. dokken: aliased to KITCHEN_LOCAL_YAML=kitchen.dokk

[2019-12-11 23:47] #120 closed

[2020-01-05 23:12] brownc opened #129 "SE Port Management Fails on CentOS 8"
## :ghost: Brief Description

When trying to manage selinux ports on CentOS 8, a port that already has been assigned to a type will cause a chef-client run to fail.

## :pancakes: Cookbook version

selinux_policy        2.3.4

## :woman_cook:  Chef-Infra Version

Chef Infra Client: 15.6.10

## :tophat: Platform details

[code]

On-prem VMware instance.

## Steps To Reproduce

Steps to reproduce th

[2020-02-18 21:24] Vancelot11 commented on #129
I believe this issue can be close since #131 got merged.

[2020-02-20 17:40] #129 closed

[2020-08-07 20:00] #110 closed

[2021-06-02 04:59] the6thBook opened #146 "Amazon linux"
This doesn't appear to run on Amazon Linux, which essentially is another RHEL/Centos.

    ------------
Unknown distro, cannot determine required package names
Cookbook Trace:
---------------
/var/chef/cache/cookbooks/selinux_policy/resources/install.rb:30:in `block in class_from_file'
Resource Declaration:
---------------------
# In /var/chef/cache/cookbooks/selinux_policy/recipes/install.rb
 1:

[2022-02-03 22:42] maxwax opened #150 "CentOS 8 Stream: selinux_policy_fcontext: Chef::Exceptions::InvalidCookbookVersion '8' does not match 'x.y.z' or 'x.y'"
## :ghost: Brief Description

selinux_policy_fcontext is unable to execute properly on CentOS 8 Stream.  The same code works fine on RHEL 8 and CentOS 8 (non-Stream) such as CentOS 8 8.5.2111. and 8.0.1905.

## :pancakes: Cookbook version

  - selinux_policy (2.4.3)

## :woman_cook:  Chef-Infra Version

Chef Infra Client, version 17.9.42

## :tophat: Platform details

CentOS 8 Stream installed fro

[2022-02-28 21:46] urgency opened #152 "selinux_policy_module installation disallowed if selinux is disabled"
## :ghost: Brief Description

Currently it is not possible to compile policy modules if selinux is disabled (even if it is enabled in selinux config and the server simply hasn't been rebooted yet). This is problematic because it requires booting into permissive or enforcing mode and then re-running chef-client to compile the module. Between boot and chef-client completion audit logs could be spamm

[2022-02-28 21:53] urgency commented on #152
Actually this may be a misreading on my part of what allow_disabled means.

[2022-02-28 22:36] #152 closed

[2022-03-30 15:54] urgency opened #153 "Clarification on `allow_disabled` resource property"
I'm seeking some clarification on the `allow_disabled` property that I referenced in my closed bug report here: https://github.com/sous-chefs/selinux_policy/issues/152

For some background, we had an issue where we enabled selinux with a custom policy module to allow access for an application. Since the `allow_disabled` property by default prevents compiling policy modules unless selinux is enable

[2022-05-28 02:16] detjensrobert commented on #150
Have you tried the resources from the [`selinux`](https://github.com/sous-chefs/selinux)? This cookbook's resources (should have been) deprecated as of sous-chefs/selinux#79. The resources there were rewritten and do work on CentOS Stream.